@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
* {
    font-family: 'Silkscreen', monospace;
}

.input {
    width: 700px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid rgb(165, 22, 22);
    border-radius: 4px;
}

.test {
    background-color: red
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button {
    margin-top: 20px;
    font-weight: 600;
    padding: 5px;
    font-size: 20px;
    outline: none;
    color: white;
    border: 3px dotted white;
    background-color: rgb(165, 22, 22);
    border-radius: 5px;
}

.button:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 7px;
    left: 7px;
    height: 100%;
    z-index: -1;
    transition: all 0.35s;
    border-radius: inherit;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(165, 22, 22);
    color: white;
    text-align: center;
}

.linked-back {
    text-decoration: none;
    color: rgb(165, 22, 22);
}